<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.CareerBoardLikeMapper">

    <!-- 좋아요 중복 확인 -->
    <select id="checkLiked" resultType="int">
        SELECT COUNT(*) FROM TB_CAREERBOARD_LIKES
        WHERE BOARD_CAREER_ID = #{boardId}
        AND ID = #{userId}
    </select>

    <!-- 좋아요 등록 -->
    <insert id="insertLike">
        INSERT INTO TB_CAREERBOARD_LIKES (BOARD_CAREER_ID, ID, LIKED_AT)
        VALUES (#{boardId}, #{userId}, SYSDATE)
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE FROM TB_CAREERBOARD_LIKES
        WHERE BOARD_CAREER_ID = #{boardId}
        AND ID = #{userId}
    </delete>
    
    <delete id="deleteByBoardCareerId" parameterType="int">
	    DELETE FROM TB_CAREERBOARD_LIKES
	    WHERE BOARD_CAREER_ID = #{boardCareerId}
	</delete>

</mapper>