<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.MyPageMapper">

	<select id="findCareerCommentsByUserId" resultType="com.smhrd.model.MyPageVO">
	    SELECT comment_id, content, id
	    FROM tb_careerboard_comment 
	    WHERE id = #{id}
	</select>
	
	<select id="findFreeCommentsByUserId" resultType="com.smhrd.model.MyPageVO">
	    SELECT cmt_idx, cmt_content, id
	    FROM tb_freeboard_comment 
	    WHERE id = #{id}
	</select>
	
	<delete id="deleteCareerCommentByIdx" parameterType="int">
    	DELETE FROM tb_careerboard_comment WHERE comment_id = #{comment_id}
	</delete>
	
	<delete id="deleteFreeCommentByIdx" parameterType="int">
	    DELETE FROM tb_freeboard_comment WHERE cmt_idx = #{cmt_idx}
	</delete>
	
	<select id="findCareerCommentById" resultType="com.smhrd.model.MyPageVO">
	    SELECT comment_id, content, id
	    FROM tb_careerboard_comment
	    WHERE comment_id = #{comment_id}
	</select>
	
	<select id="findFreeCommentByIdx" resultType="com.smhrd.model.MyPageVO">
	    SELECT cmt_idx, cmt_content, id
	    FROM tb_freeboard_comment
	    WHERE cmt_idx = #{cmt_idx}
	</select>
		
	<update id="updateCareerComment" parameterType="com.smhrd.model.MyPageVO">
	    UPDATE tb_careerboard_comment SET content = #{content} WHERE comment_id = #{comment_id}
	</update>
		
	<update id="updateFreeComment" parameterType="com.smhrd.model.MyPageVO">
	    UPDATE tb_freeboard_comment SET cmt_content = #{cmt_content} WHERE cmt_idx = #{cmt_idx}
	</update>


</mapper>