@charset "UTF-8";


body {
            background-color: #f8f9fa;
        }
        .article-board{
       		border-top: 1px solid  #dee2e6;
		}
		.article-table{
			border-collapse: collapse;
		}
		.likes{
			width:82px;
		}
		.comment{
			width:82px;
		}
		
        .table-top{
         	
        	height: 40px;
        	padding: 2px;
        	border-bottom: 1px solid #dee2e6;
        	font-size: 13px;
        	color: #000000;
        }
        .board-list{
        	height: 28px;
        	padding: 4px 6px;
        	border-bottom: 1px solid #dee2e6;
        	line-height: normal;
        }
        .board-list-likes,
        .board-list-comments{
        	width:80px;
		    text-align: center;
		    white-space: nowrap;
		  
        }
        