@charset "UTF-8";



body {
       background-color: #f8f9fa;
       border-radius : 0;
      }
        
.main-container {
       max-width: 600px;
       margin: 50px auto;
       padding: 30px;
       background: white;
       box-shadow: 4px 0px 10px rgba(0,0,0,0.08),
       			  -4px 0px 10px rgba(0,0,0,0.08);
       }
       
.form-label {
       font-weight: bold;
       }