@charset "UTF-8";



body {
            background-color: #f8f9fa;
        }
        .main-container {
            max-width: 900px;
            margin: 50px auto;
            padding: 30px;
            background: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .form-label {
            font-weight: bold;
        }